SOURCE_PRIVATE_APP_TOKEN=
TARGET_PRIVATE_APP_TOKEN=

OBJECT_TYPE=implementation_tickets

SYNC_STATUS_PROPERTY=sync_status
LAST_SYNC_ERROR_PROPERTY=last_sync_error
LAST_SYNC_AT_PROPERTY=last_sync_at

SYNC_ATTEMPT_COUNT_PROPERTY=sync_attempt_count